WOOD_CONFIG_PROFILE=local
WOOD_PROJECT_ROOT_BASE=
WOOD_ARTIFACT_ROOT_BASE=
WOOD_SCHEDULER_ROOT=
OPENPROJECT_URL=
OPENPROJECT_PROJECT_ID=
OPENPROJECT_INITIATIVE_ID=
OPENPROJECT_API_TOKEN_REF=vaultwarden://openproject/wood-tools/api-token
NTFY_URL=
NTFY_TOKEN_REF=vaultwarden://ntfy/wood-tools/token
VAULTWARDEN_URL=
