from __future__ import annotations

from pydantic_settings import BaseSettings


class Settings(BaseSettings):
    app_name: str = "{{project-name}}"
    database_url: str = "sqlite:///./app.db"


settings = Settings()
